<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.spzx.product.mapper.ProductMapper">

    <select id="findPage" resultType="com.atguigu.spzx.model.entity.product.ProductSku">

        select sku.* from product_sku sku
        inner join product p on sku.product_id = p.id
        <where>
            <if test="dto.keyword!=null and dto.keyword!=''">
                and sku.sku_name like concat('%',#{dto.keyword},'%')
            </if>
            <if test="dto.brandId!=null">
                and p.brand_id = #{dto.brandId}
            </if>
            <if test="dto.category1Id!=null">
                and p.category1_id = #{dto.category1Id}
            </if>
            <if test="dto.category2Id!=null">
                and p.category2_id = #{dto.category2Id}
            </if>
            <if test="dto.category3Id!=null">
                and p.category3_id = #{dto.category3Id}
            </if>
            and p.is_deleted=0 and sku.is_deleted=0 and p.status=1 and sku.status=1 and p.audit_status=1
        </where>
        <if test="dto.order==1">
            order by sku.sale_num desc
        </if>
        <if test="dto.order==2">
            order by sku.sale_price asc
        </if>
        <if test="dto.order==3">
            order by sku.sale_price desc
        </if>

    </select>


    <resultMap id="productMap" type="com.atguigu.spzx.model.entity.product.Product" autoMapping="true">
    </resultMap>

    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
        id,name,brand_id,category1_id,category2_id,category3_id,unit_name,slider_urls,spec_value,status,audit_status,audit_message,create_time,update_time,is_deleted
    </sql>

    <select id="getById" resultMap="productMap">
        select
        <include refid="columns"/>
        from product
        where
        id = #{id} and is_deleted = 0
    </select>
</mapper>