<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.spzx.manager.mapper.SysRoleMapper">

    <!--    List<SysRole> findByPage(SysRoleDto sysRoleDto);-->

    <resultMap id="SysRoleResultMap" type="com.atguigu.spzx.model.entity.system.SysRole" autoMapping="true"></resultMap>

    <sql id="columns">
        id, role_name, role_code, description, create_time, update_time, is_deleted
    </sql>

    <select id="findByPage" resultMap="SysRoleResultMap">
        select
        <include refid="columns"></include>
        from sys_role
        <where>
            <if test="roleName!=null and roleName!=''">
                and role_name like concat('%',#{roleName},'%')
            </if>
            and is_deleted = 0
        </where>
        order by id desc
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into sys_role(role_name, role_code, description) values(#{roleName},#{roleCode},#{description})
    </insert>

    <!--    SysRole getById(Long id);-->
    <select id="getById" resultMap="SysRoleResultMap">
        select
        <include refid="columns"></include>
        from sys_role
        where id = #{id}
    </select>

<!--    void update(SysRole sysRole);-->
    <update id="update">
        update sys_role set role_name = #{roleName}, role_code = #{roleCode},description=#{description} where id = #{id}
    </update>

<!--    void deleteById(Long id);-->
    <delete id="deleteById">
        update sys_role set is_deleted = 1 where id = #{id}
    </delete>
</mapper>